<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="post">
    {% csrf_token %}
     <input type="text" name="username" placeholder="enter username"><br>
    <input type="text" name="first_name" placeholder="enter first name"><br>
     <input type="text" name="last_name" placeholder="enter last name"><br>
    <input type="email" name="email" placeholder="enetr email adress"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="password" name="password1" placeholder="conform password"><br>
    <input type="submit" >

</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>